*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.87);
    margin: 0;
    line-height: 1.2;
}

.container {
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.header {
    margin-bottom: 20px;
    background: url("https://media.istockphoto.com/id/975053090/photo/cake-with-blueberries-on-a-black-background-decorated-with-small-green-leaves-and-fresh-berries.jpg?s=612x612&w=0&k=20&c=OwkAfcP8I6gZcMF-yjd6kkpdxt_u7-BkX5bziiKv4zQ=") no-repeat center;
    background-size: cover;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 500px;
}

.logo {
    border-radius: 50%;
    cursor: auto;
}

.logo-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.main-nav {
    width: 90%;
    padding: 10px 0;
}

.main-nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-nav li {
    display: flex;
    flex-direction: column;
}

.link {
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 15px;
    margin-top: 50px;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.link:hover {
    color: rgb(117, 177, 209);
    text-decoration: underline;
}

.contacts {
    height: 60px;
}

.phone {
    background-color: transparent;
    border: transparent;
    cursor: pointer;
}

.phone-icon {
    width: 30px;
    height: 30px;
}

.main-nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-nav-item {
    border-bottom: 1px solid gray;
    padding: 5px 0;
    display: flex;
    align-items: center;
}

.main-nav-link {
    text-decoration: none;
    margin: 0 10px;
    font-size: 15px;
    color: white;
}

.main-nav-link:hover {
    color: #39c0d6;
    font-weight: 600;
}

.icon-sidebar {
    width: 30px;
    height: 30px;
}

.sidebar {
    width: 20%;
    margin-top: 50px;
}

.nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.title {
   font-weight: 700;
}

.text-info{
    width: 75%;
    word-break: break-word;
    text-align: justify;
}
